<div class="container p-3">
    <table mat-table [dataSource]="dataCMDBvsEve" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let dataCMDBvsEve; let i = index;"> {{i+1}} </td>
          </ng-container>
        <ng-container matColumnDef="aplicacion">
            <th mat-header-cell *matHeaderCellDef> Nombre APP </th>
            <td mat-cell *matCellDef="let dataCMDBvsEve"> {{dataCMDBvsEve.aplicacion}} </td>
          </ng-container>
          <ng-container matColumnDef="nombreSVCMDB">
            <th mat-header-cell *matHeaderCellDef> NombreSVCMDB </th>
            <td mat-cell *matCellDef="let dataCMDBvsEve"> {{dataCMDBvsEve.nombreSVCMDB}} </td>
          </ng-container>
          <ng-container matColumnDef="estadoApp">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let dataCMDBvsEve"> {{dataCMDBvsEve.estadoApp}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    </div>