<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span>Control de TI - GSI</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<!--
<div>
    <h2>Data API</h2>
    <ul>
        <li *ngFor="let item of data">
            {{ item.ambienteSV }}
        </li>
    </ul>
</div>
-->
<div class="card-container border">
<mat-card class="card border">
    <mat-card-header>
      <mat-card-title>Eventos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Este artefacto administrado por la plataforma TRUE SIGHT, se encarga del monitoreo de cada uno de los servidores del entorno de aplicaciones del SENA.
      </p>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <p>
            <br>Total diferencias: {{ totalallazosEVENTOS }}
            <br>Total hallazgos LB: {{ totalallazosLBvsEve }}
            <br>total hallazgos CMDB: {{ totalallazosCMDBvsEve }}
          </p>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon *ngIf='estadoartEventos() == 0' matTooltip="Se tienen mas de 100 diferencias, gestionar con urgencia!!!" class="icon-display-warn" fontIcon="warning" ></mat-icon>
          <mat-icon  *ngIf='estadoartEventos() == 1' matTooltip="Se tienen mas de 30 diferencias, trabajar en los ajustes lo mas pronto posible" class="icon-display-info" fontIcon="info"></mat-icon>
          <mat-icon  *ngIf='estadoartEventos() == 2' matTooltip="Se tienen menos de 30 diferencias, se esta dentro de los parametros" class="icon-display-ok" fontIcon="stars" ></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="m-1" (click)="onPulse('EventosvsLB')">Cruce LB</button>
      <button mat-flat-button color="primary" (click)="onPulse('EventosvsCMDB')">Cruce CMDB</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card border">
    <mat-card-header>
      <mat-card-title>CMDB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Este artefacto administrado por la plataforma BMC HELIX, se encarga del registro de cada uno de los CI del entorno de aplicaciones del SENA.
        Actualmente tiene un total de {{ totalallazos }} diferencias
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="m-1" (click)="onPulse('CMDBvsLB')">Cruce LB</button>
      <button mat-flat-button color="primary" (click)="onPulse('CMDBvsEventos')">Cruce Eventos</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card border">
    <mat-card-header>
      <mat-card-title>Lineabase</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Este artefacto administrado por el DATACENTER del operador, se encarga del registro tecnico de los servidores del entorno de aplicaciones del SENA.
        Actualmente tiene un total de {{ totalallazos }} diferencias
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="m-1" (click)="onPulse('LBvsCMDB')">Cruce CMDB</button>
      <button mat-flat-button color="primary" (click)="onPulse('LBvsEventos')">Cruce Eventos</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-toolbar>
<mat-toolbar-row>
    <span>{{cruceSelec}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-cmdbvs-eventos *ngIf="CMDBVSeventosSHOW"></app-cmdbvs-eventos>
<app-lbvs-eventos *ngIf="lineabaseVSeventosSHOW"></app-lbvs-eventos>